{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <div>
        {{ $image := .Resources.GetMatch "thumbnail.*" }}
        {{ if $image }}
        {{ $coverJpg := $image.Fill "1080x140 Center jpg"}}
        {{ $coverJpg2x := $image.Fill "1920x280 Center jpg"}}
        {{ $coverWebp := $image.Fill "1080x140 Center webp"}}
        {{ $coverWebp2x := $image.Fill "1920x280 Center webp"}}
        <picture>
            <source srcset="{{ $coverWebp.RelPermalink }}, {{ $coverWebp2x.RelPermalink }} 2x" type="image/webp">
            <source srcset="{{ $coverJpg.RelPermalink }}, {{ $coverJpg2x.RelPermalink }} 2x" type="image/jpg">
            <img class="post-cover" src="{{ $coverJpg.RelPermalink }}" alt="">
        </picture>
        {{ end }}
      </div>
      <div>
        <h1 class ="post-title">{{ .Title }}</h1>
      </div>
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </div>
        {{- with .Params.tags -}}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{ range . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
              <a class="tag" href="{{ .Permalink }}">{{ .Title | urlize }}</a>
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
  {{ partial "share-buttons.html" . }}
  <section class="disqus-area">{{ template "_internal/disqus.html" . }}</section>
{{ end }}
