.planet-switch {
    --radius: 16px;
    --sun-color: #ffd600;
    --moon-color: #849ba5;
    --switch-duration: 0.4s;

    display: none; //will be "block" if js enable

    position: relative;
    width: calc(var(--radius) * 4);
    height: calc(var(--radius) * 2);
    border-radius: var(--radius);

    //positioning
    margin: calc(var(--radius) * 2) auto;

    @include at-dark {
        transition: background-color var(--switch-duration);
    }

    background-color: #64b5f6;
    @include at-dark {
        background-color: #311b92;
    }

    cursor: pointer;

    //hide checkbox input
    input[type=checkbox] {
        display: none;
    }

    %planet-shape {
        position: absolute;
        width: calc(var(--radius) * 2);
        height: calc(var(--radius) * 2);
    }

    .planet {
        @extend %planet-shape;

        @at-root .darkmode-ready & {
            transition: transform var(--switch-duration);
        }

        //moon position
        @include at-dark {
            transform: translateX(calc(var(--radius) * 2));
        }

        .core {
            @extend %planet-shape;
            border-radius: 50%;
            transition: background-color var(--switch-duration);
            filter: brightness(135%);

            //sun
            background-color: var(--sun-color);

            //moon
            @include at-dark {
                background-color: var(--moon-color);
                box-shadow: 0 0 var(--radius) var(--moon-color);
                animation: moon-shadowing 3s ease infinite;
                @keyframes moon-shadowing {
                    50% {
                        box-shadow: 0 0 calc(var(--radius) * 3 / 4) var(--moon-color);
                    }
                }
            }
        }

        .rays {
            @extend %planet-shape;

            animation: sun-rolling 3s linear infinite;
            @keyframes sun-rolling {
                to {
                    transform: rotate(-30deg);
                }
            }

            transition: opacity var(--switch-duration);

            //moon
            @include at-dark {
                opacity: 0;
            }

            & > .ray {
                @extend %planet-shape;
                background-color: var(--sun-color);
                &:nth-child(2) {
                    transform: rotate(30deg);
                }
                &:nth-child(3) {
                    transform: rotate(60deg);
                }
            }
        }

        .hole {
            position: absolute;
            border-radius: 50%;
            transition: opacity var(--switch-duration);

            //sun
            opacity: 0;

            //moon
            @include at-dark {
                opacity: 1;
            }


            & {
                top: 15%;
                left: 10%;
                width: calc(var(--radius) * 4 / 5);
                height: var(--radius);
                background-color: var(--moon-color);
                filter: brightness(94%);
                transform: rotate(30deg);
            }

            & ~ .hole {
                top: 30%;
                left: 60%;
                width: calc(var(--radius) / 3);
                height: calc(var(--radius) / 3);
                background-color: var(--moon-color);
                filter: brightness(90%);
            }
        }
    }
}
