@import "./variables";
@import "./colors";
@import "./sidebar";
@import "./topbar";
@import "./container";
@import "./post-list";
@import "./category-list";
@import "./post";

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--color-bg);
    color: var(--color-text);

    //reset
    input, img {
        display: initial;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 1em;
    color: var(--color-highlight);
}

a {
    text-decoration: none;

    color: var(--color-highlight);

    @include at-dark {
        transition: color 0.4s;
    }

    &:hover {
        color: var(--color-highlight-hover);
    }
}

pre {
    overflow: auto;
}

blockquote {
    margin: 1em 0;
    padding: 0.5em;
    font-style: italic;
    border-left: solid 0.3em var(--color-highlight);
}

blockquote > * {
    margin: 0;
}

p {
    line-height: 1.8em;
}

.app-centralizer {
    margin: 0 auto;
    max-width: 100rem;
}

.icon {
    display: block-inline;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.tag-btn {
    display: inline-block;
    margin: 4px;
    padding: 5px 8px;
    border-radius: 5px;

    @extend %tag-colors;
}
