$darkest-color: {{ .Site.Params.style.darkestColor | default "#242930" }};
$dark-color: {{ .Site.Params.style.darkColor | default "#353b43" }};
$light-color: {{ .Site.Params.style.lightColor | default "#afbac4" }};
$lightest-color: {{ .Site.Params.style.lightestColor | default "#ffffff" }};
$primary-color: {{ .Site.Params.style.primaryColor | default "#57cc8a" }};

* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: $lightest-color;
  }
}

pre {
  overflow: auto;
}

blockquote {
  background-color: $darkest-color;
  margin: 1em 0;
  padding: .5em;
}

blockquote > * {
  margin: 0;
}

.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
  overflow: auto;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
}

.app-container {
  padding: 2.5rem;
}

.app-header-links {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.app-header-tag-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tag-btn {
        font-size: .8em;
        padding: 2px 4px;
    }
}

.icon {
  display: block-inline;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.tag {
  display: inline-block;
  margin-right: 0.2em;
  padding: 0 0.6em;
  font-size: 0.9em;
  border-radius: 0.2em;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.8s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.post-title {
  color: $lightest-color;
}

.post-content {
  pre {
    border-left: .2em solid darken($primary-color, 16%);
    padding-left: 1em;
    padding: .5em;
    background-color: #000;
  }
}

.post-meta {
  font-size: 0.8em;
}

.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  padding: 0.4em 0;
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

.tag-btn {
  display: inline-block;
  margin: 4px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .1);
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    margin-left: 20rem;
  }
}

@media (max-width: 931px) {
    .app-header {
      padding: .8rem;
    }
    .app-header > p, .app-header-avatar, .app-header-tag-group {
        display: none;
    }
    .app-header h1 {
      margin: 0;
      float: left;
    }
    .app-header-links {
        float: right;
    }
    .app-container {
      padding: .8rem;
    }
}

.category-list {
    list-style-type: none;
    li > svg {
        margin-left: -22px;
    }
}

.disqus-area {
    margin-top: 10rem;
}
