@import "./variables";
@import "./colors";
@import "./sidebar";
@import "./topbar";
@import "./container";
@import "./post-list";
@import "./category-list";
@import "./post";

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: $color-light-bg;
    color: $color-light-text;
    transition-property: background-color, color;

    &.darkmode-ready {
        transition: all 0.4s;
    }

    &.darkmode--activated {
        background-color: $color-dark-bg;
        color: $color-dark-text;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 1em;
    color: $color-light-highlight;

    @include at-dark {
        color: $color-dark-highlight;
    }
}

a {
    text-decoration: none;

    color: $color-light-highlight;

    @at-root body.darkmode-ready & {
        transition: color 0.4s;
    }

    &:hover {
        color: $color-light-highlight-hover;
    }

    @include at-dark {
        color: $color-dark-highlight;

        &:hover {
            color: $color-dark-highlight-hover;
        }
    }
}

pre {
    overflow: auto;
}

blockquote {
    margin: 1em 0;
    padding: 0.5em;
    font-style: italic;
    border-left: solid 0.3em $color-light-highlight;

    @include at-dark {
        border-left-color: $color-dark-highlight;
    }
}

blockquote > * {
    margin: 0;
}

p {
    line-height: 1.8em;
}

.icon {
    display: block-inline;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.tag-btn {
    display: inline-block;
    margin: 4px;
    padding: 5px 8px;
    border-radius: 5px;

    @extend %tag-colors;
}
