@import "./variables";
@import "./colors";

.app-header {
    padding: 2.5em 0.8rem;
    transform: translateX(-$sidebar-width);
    &.show {
        transform: none;
    }
}

.app-header.show + .app-container {
    transform: translateX($sidebar-width);
}

.app-topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $topbar-height;
    z-index: 99;
    background-color: $color-light-bg;

    @include at-dark {
        background-color: $color-dark-bg;
    }
}

.app-container {
    margin-left: 0;
    padding: $topbar-height 0.8rem;
}

.posts-list-item-image {
    display: none;
}

.posts-list-item-text {
    margin-left: 0;
}

.post-header {
    margin-top: 20px;
}

.post-title {
    clear: both;
}
