:root {
    --sidebar-width: 100%;
}

.mobile-back-btn {
    --size: var(--topbar-height);

    position: absolute;
    top: 0;
    right: 0;
    width: var(--size);
    height: var(--size);
    text-align: center;
    opacity: 0;
    transition: opacity ease 0.4s;

    &::before {
        content: "<";
        display: inline;
        line-height: var(--size);
        font-size: calc(var(--size) * 2 / 3);
        font-weight: bold;
        color: var(--color-highlight);
    }

    @at-root .app-header.show & {
        opacity: 1;
    }
}

.app-header {
    padding: 2.5em 0.8rem;
    transform: translateX(calc(var(--sidebar-width) * -1));

    &.show {
        transform: translateX(0);
    }
}

.app-topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--topbar-height);
    z-index: 99;
    background-color: var(--color-bg);
    transition: background-color 0.4s, transform ease 0.4s;

    &.hide {
        transform: translateY(calc(var(--topbar-height) * -1));
    }

    @at-root .app-header.show ~ & {
        transform: translateX(var(--sidebar-width));
    }

    .app-topbar-menu-btn {
        --size: var(--topbar-height);

        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        text-align: center;
        transition: opacity ease 0.4s;

        &::before {
            content: "=";
            display: inline;
            line-height: var(--size);
            font-size: calc(var(--size) * 2 / 3);
            font-weight: bold;
            color: var(--color-highlight);
        }

        @at-root .app-header.show & {
            opacity: 0;
        }
    }

    h3 {
        display: block;
        margin: 0 0.5em;
        float: right;
        line-height: var(--topbar-height);
    }
}

.app-container {
    margin-left: 0;
    padding: var(--topbar-height) 0.8rem;
}

.posts-list-item-image {
    display: none;
}

.posts-list-item-text {
    margin-left: 0;
}

.post-header {
    margin-top: 20px;
}

.post-title {
    clear: both;
}
