@import "./colors";

.post-title {
    display: inline;
    color: $color-light-highlight;

    @include at-dark {
        color: $color-dark-highlight;
    }
}

.post-content {
    clear: both;
}

.post-content pre {
    border-left: 0.2em solid $color-light-highlight;
    padding-left: 1em;
    padding: 0.5em;
    background-color: $color-fixed-code-bg;
    color: $color-dark-text;

    @include at-dark {
        border-left-color: $color-dark-highlight;
    }
}

.post-meta {
    margin-top: 1.5rem;
    clear: both;
    font-size: 0.8em;
}

.disqus-area {
    margin-top: 8rem;
}
.tag {
    display: inline-block;
    margin-right: 0.2em;
    padding: 0 0.6em;
    font-size: 0.9em;
    border-radius: 0.2em;
    white-space: nowrap;

    @extend %tag-colors;
}

#share-buttons {
    display: inline-block;
    margin: 2rem 0;

    & > div {
        position: relative;
        height: 36px;
        width: 84px;
        float: left;
        margin: 8px 8px 0 0;
        text-align: center;
        cursor: pointer;

        & > svg {
            fill: #d5d5d5;
        }

        &.facebook {
            background-color: #3b5998;
        }
        &.twitter {
            background-color: #55acee;
        }
        &.linkedin {
            background-color: #0077b5;
        }
        &.pinterest {
            background-color: #cb2027;
        }
        &.mail {
            background-color: #dd4b39;
        }
        &.instagram {
            background-color: #c73b92;
        }
        &.facebook > svg {
            height: 18px;
            margin-top: 9px;
        }
        &.twitter > svg {
            height: 20px;
            margin-top: 8px;
        }
        &.linkedin > svg {
            height: 19px;
            margin-top: 7px;
        }
        &.pinterest > svg {
            height: 20px;
            margin-top: 9px;
        }
        &.mail > svg {
            height: 14px;
            margin-top: 11px;
        }
    }

}

figure {
    img {
        max-width: 100%;
    }
    figcaption {
        text-align: center;
        font-style: italic;
        p {
            margin: 0.5em 0 1em;
        }
    }
}
