.posts-list {
    padding: 0;
}

.posts-list-item {
    list-style: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 4rem 0;
    min-height: calc(140px + 2rem);
}

.posts-list-item-image {
    position: absolute;
    width: 200px;
    height: 140px;
}

.posts-list-item-text {
    display: inline-block;
    margin-left: 210px;
}

.posts-list-item-description {
    color: var(--color-text);

    p {
        margin-bottom: 0;
    }
}

.posts-list-item-meta {
    font-size: 0.8em;
}

nav.pagination-conatiner {
    padding: 1em;
    text-align: center;
    font-size: 1.1em;

    ul.pagination {
        list-style: none;

        li.page-item {
            display: inline-block;
            & > a.page-link {
                display: block;
                margin: 0 0.2em;
                min-width: 1.5em;
                text-align: center;
            }
            &.active > a.page-link {
                background-color: var(--color-highlight);
                color: var(--color-bg);
            }
        }
    }
}
