@import "./darkmode-switch";

.app-header {
    position: fixed;
    top: 0;
    left: auto;
    bottom: 0;
    width: var(--sidebar-width);
    min-height: 100vh;
    padding: 2.5em 0;
    background: var(--color-bg);
    text-align: center;
    overflow: auto;
    z-index: 99;
}

.app-header-wanna-say {
    display: none; //will be "block" if js enable

    &::after {
        content: "";
        display: inline-block;
        margin-left: 0.1em;
        height: 1.4em;
        border-left: 0.2em solid var(--color-text);
        vertical-align: text-bottom;
    }
    &.shining-cursor::after {
        animation: app-header-wanna-say-cursor 0.5s step-end infinite alternate;
    }
    @keyframes app-header-wanna-say-cursor {
        50% {
            opacity: 0;
        }
    }
}
.app-header-my-face {
    margin: 3em 0 0;
}

.app-header-title > h2 {
    margin-top: 0;
    margin-bottom: 2em;
}

.app-header-links {
    margin: 1em 0;
    font-size: 2em;
    color: var(--color-highlight);

    a {
        margin: 0 0.1em;
    }
}

.app-header-tag-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tag-btn {
        padding: 2px 4px;
    }
}
